@model IEnumerable<UefaRankingApplication.Data.Models.Team>

<br />
<br />
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info"> Teams List</h2>
        </div>

        <div class="col-3 text-right">
            <a asp-action="Upsert" class="btn btn-info form-control"> Create New Team</a>
        </div> 
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Team Name
                    </th>
                    <th>
                        Country Id
                    </th>
                    <th>
                        Ranking Position
                    </th>
                    <th>
                        Cup Name
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Country_Id
                        </td>
                        <td>
                            @item.RankingPoints
                        </td>
                        <td>
                            @item.PlayingCup
                        </td>
                        <td>
                            <a class="btn btn-primary text-white" asp-action="Upsert" asp-route-Id="@item.Id">
                                Edit
                            </a>

                            @* <a class="btn btn-warning text-white" asp-action="Matches" asp-route-Id="@item.Id">
                                Matches
                            </a> *@
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No team exists...</p>
        }
    </div>
</div>